@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block">
    <div class="container" style="margin-top:200px;margin-bottom:100px;direction:rtl;text-align:right">
        <div class="row">

            <div class="col-md-6 d-flex mt-4 mt-md-0">
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <h3 class="card-title">تغییر رمز عبور</h3>
                        <form asp-action="ChangePassword" asp-controller="Account">
                           
                            <div class="form-group">
                                <label>رمز عبور قبلی</label>
                                <input asp-for="OldPassword" class="form-control" placeholder="رمز عبور قبلی را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label>رمز عبور جدید</label>
                                <input asp-for="Password" class="form-control" placeholder="رمز عبور جدید را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label>تکرار رمز عبور جدید</label>
                                <input asp-for="RePassword" class="form-control" placeholder="تکرار رمز عبور جدید">
                            </div>



                            <button type="submit" class="btn btn-primary mt-4">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

}

