@model IEnumerable<Shop.ViewModels.ProductPropertyViewModel>

@{
    Layout = null;
}

<div class="container" style="margin-bottom:200px">
    @foreach (var item in Model.GroupBy(g=>g.GroupName))
    {
        <h3 style="text-align:right;margin-bottom:100px;font-family:'B Titr'">@item.Key</h3>
        foreach (var item2 in item.ToList())
        {
            <div class="row" style="direction:rtl;margin-right:200px">

    
                <div class="col-md-6">
                     <ul class="list-group list-group-horizontal">
                         <li class="list-group-item" style="width:200px;text-align:right;margin-left:3px">@item2.PropertyName</li>
                         <li class="list-group-item">@item2.PropertyValue</li>

                      </ul> 
                  
                </div>

            </div>

        }

        

    }


</div>



