@model Shop.Models.PropertyValue

@{
    ViewData["Title"] = "CreatePropertyValue";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="margin-right:300px;margin-top:100px;height:700px">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreatePropertyValue">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PropertyNameId" class="control-label"></label>
                    <select asp-for="PropertyNameId" asp-items="@(new SelectList(ViewBag.names,"PropertyNameId","Title"))" style="height:40px;width:200px" class="form-control"></select>
                    <span asp-validation-for="PropertyNameId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="PropertyValueList">Back to List</a>
    </div>
</div>
